BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: 宋体; BACKGROUND: #fff; COLOR: #1c4360; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
I {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
A:link {
	FONT-FAMILY: 宋体; COLOR: #3b658a; TEXT-DECORATION: none
}
A:visited {
	FONT-FAMILY: 宋体; COLOR: #3b658a; TEXT-DECORATION: none
}
A:active {
	FONT-FAMILY: 宋体; COLOR: #cc3300; TEXT-DECORATION: underline
}
A:hover {
	FONT-FAMILY: 宋体; COLOR: #cc3300; TEXT-DECORATION: underline
}
.filter1 {
	FILTER: dropshadow(color=#ffffff,offx=1,offy=1,positive=1)
}
.filter2 {
	FILTER: dropshadow(color=#000000,offx=1,offy=1,positive=1)
}
.cred {
	COLOR: red
}
A.cred:link {
	COLOR: red
}
A.cred:visited {
	COLOR: red
}
.cblue {
	COLOR: #0149af
}
A.cblue:link {
	COLOR: #0149af
}
A.cblue:visited {
	COLOR: #0149af
}
.cwhite {
	COLOR: #fff
}
A.cwhite:link {
	COLOR: #fff
}
A.cwhite:visited {
	COLOR: #fff
}
.cblack {
	COLOR: #000
}
A.cblack:link {
	COLOR: #000
}
A.cblack:visited {
	COLOR: #000
}
.cyellow {
	COLOR: #ff0
}
A.cyellow:link {
	COLOR: #ff0
}
A.cyellow:visited {
	COLOR: #ff0
}
.cgery {
	COLOR: #ccc
}
A.cgery:link {
	COLOR: #ccc
}
A.cgery:visited {
	COLOR: #ccc
}
.cgreen {
	COLOR: #2f7e2b
}
A.cgreen:link {
	COLOR: #2f7e2b
}
A.cgreen:visited {
	COLOR: #2f7e2b
}
.fb {
	FONT-WEIGHT: bold
}
.fn {
	FONT-WEIGHT: normal
}
.fi {
	FONT-STYLE: italic
}
.fhei {
	FONT-FAMILY: 黑体
}
.f12 {
	FONT-SIZE: 12px
}
.n12 {
	LINE-HEIGHT: 150%; COLOR: #666666; FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f18 {
	FONT-SIZE: 18px
}
.f20 {
	FONT-SIZE: 20px
}
.pad2 {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.pad3 {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.pad4 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.pad5 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.pad6 {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
.pad10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.padlef5 {
	PADDING-LEFT: 5px
}
.padlef10 {
	PADDING-LEFT: 10px
}
.mar0 {
	MARGIN: 0px
}
.mar5 {
	MARGIN: 5px
}
.marrig3 {
	MARGIN-RIGHT: 3px
}
.marrig5 {
	MARGIN: 4px 5px
}
.martop5 {
	MARGIN-TOP: 5px
}
.martb5 {
	MARGIN: 5px 0px
}
.blank4 {
	HEIGHT: 4px; CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden
}
.blank8 {
	HEIGHT: 8px; CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden
}
.lh19 {
	LINE-HEIGHT: 19px
}
.lh21 {
	LINE-HEIGHT: 21px
}
.lh24 {
	LINE-HEIGHT: 24px
}
.lh26 {
	LINE-HEIGHT: 26px
}
.lh30 {
	LINE-HEIGHT: 30px
}
.lh40 {
	LINE-HEIGHT: 40px
}
.height25 {
	HEIGHT: 25px
}
.border {
	BORDER-BOTTOM: #6593bc 1px solid; BORDER-LEFT: #6593bc 1px solid; BORDER-TOP: #6593bc 1px solid; BORDER-RIGHT: #6593bc 1px solid
}
.bg {
	BACKGROUND: #e9f0f9
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	WIDTH: 1px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 1px
}
.hidden {
	DISPLAY: none
}
.unline {
	TEXT-DECORATION: none
}
.unline A {
	TEXT-DECORATION: none
}
.line {
	TEXT-DECORATION: underline
}
.line A {
	TEXT-DECORATION: underline
}
.noborder {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.textcen {
	TEXT-ALIGN: center
}
.textleft {
	TEXT-ALIGN: left
}
.textrig {
	TEXT-ALIGN: right
}
.hidden {
	DISPLAY: none
}
.bgfff {
	BACKGROUND: #fff
}
.borderK1 {
	BORDER-BOTTOM: #6593bc 1px solid; BORDER-LEFT: #6593bc 1px solid; BACKGROUND: #c6e4ff; BORDER-TOP: #6593bc 1px solid; BORDER-RIGHT: #6593bc 1px solid
}
.borderK2 {
	BORDER-BOTTOM: #628db3 1px solid; BORDER-LEFT: #628db3 1px solid; BACKGROUND: #e9f0f9; BORDER-TOP: #628db3 1px solid; BORDER-RIGHT: #628db3 1px solid
}
.borderLeft {
	BORDER-BOTTOM: #6593bc 1px solid; BORDER-LEFT: #6593bc 1px solid; WIDTH: 168px; BACKGROUND: url(/decorators/custom/images/z_05.gif) repeat-y; BORDER-TOP: #6593bc 1px solid; BORDER-RIGHT: #6593bc 1px solid
}
.borderRig {
	BORDER-BOTTOM: #6593bc 1px solid; BORDER-LEFT: #6593bc 1px solid; BACKGROUND: #fff; BORDER-TOP: #6593bc 1px solid; BORDER-RIGHT: #6593bc 1px solid
}
.table1 {
	BORDER-BOTTOM: #99b8d5 1px solid; BORDER-LEFT: #99b8d5 1px solid; BACKGROUND: url(/decorators/custom/images/z_19.gif) #fff repeat-x; BORDER-TOP: #99b8d5 1px solid; BORDER-RIGHT: #99b8d5 1px solid
}
TABLE.tbl01 {
	TEXT-ALIGN: center
}
TABLE.tbl01 CAPTION {
	TEXT-ALIGN: left; FONT-WEIGHT: bold
}
TABLE.tbl01 TH {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
TABLE.tbl01 TD {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
TABLE.gray {
	BACKGROUND: #6593bc
}
TABLE.gray2 {
	BACKGROUND: #6593bc
}
TABLE.gray CAPTION {
	COLOR: #000
}
TABLE.gray TH {
	TEXT-ALIGN: center; BACKGROUND: #5c80a7; COLOR: #fff
}
TABLE.gray2 TH {
	TEXT-ALIGN: center; BACKGROUND: #bacae6; COLOR: #1c435f; FONT-SIZE: 14px
}
TABLE.gray TD {
	BACKGROUND: #fff; COLOR: #1c4360
}
TABLE.gray2 TD {
	BACKGROUND: #fff; COLOR: #1c4360; FONT-SIZE: 14px
}
TABLE.gray TR.alt TD {
	BACKGROUND: #f4f4f4
}
TABLE.gray2 TR.alt TD {
	BACKGROUND: #f4f4f4
}
TABLE.tbl01 TD.ticketname {
	TEXT-ALIGN: center; BACKGROUND: #e9f0f9; COLOR: #1c4360
}
TABLE.tbl03 TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #e9f0f9; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.table2 {
	LINE-HEIGHT: 26px; BACKGROUND: url(/decorators/custom/images/y_05.gif); HEIGHT: 26px; PADDING-TOP: 10px
}
TABLE.tab02 TD {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
TABLE.tab02 TD.ticketname {
	TEXT-ALIGN: left; LINE-HEIGHT: 21px; BACKGROUND: #c7dbec; COLOR: #1c4360
}
.btn_a {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 125px; DISPLAY: block; BACKGROUND: url(/decorators/custom/images/z_13.gif); FLOAT: left; HEIGHT: 26px; COLOR: #1c4360; FONT-SIZE: 14px; CURSOR: pointer
}
.btn_b {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 125px; DISPLAY: block; BACKGROUND: url(/decorators/custom/images/z_14.gif); FLOAT: left; HEIGHT: 26px; COLOR: #1c4360; FONT-SIZE: 12px; CURSOR: pointer
}
.btn1_a {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; DISPLAY: block; BACKGROUND: url(/decorators/custom/images/z_08.gif); FLOAT: left; HEIGHT: 26px; COLOR: #fff; FONT-SIZE: 12px; CURSOR: pointer
}
.btn1_b {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; DISPLAY: block; BACKGROUND: url(/decorators/custom/images/z_09.gif); FLOAT: left; HEIGHT: 26px; COLOR: #1c4360; FONT-SIZE: 12px; CURSOR: pointer
}
.btn2_b {
	TEXT-ALIGN: center; LINE-HEIGHT: 34px; WIDTH: 94px; DISPLAY: block; BACKGROUND: url(/decorators/custom/images/z_02.gif) no-repeat right 50%; FLOAT: left; HEIGHT: 34px; FONT-SIZE: 14px
}
.btn2_a {
	TEXT-ALIGN: center; LINE-HEIGHT: 27px; WIDTH: 94px; DISPLAY: block; BACKGROUND: url(/decorators/custom/images/z_01.gif); FLOAT: left; HEIGHT: 27px; COLOR: #1c4360; FONT-SIZE: 14px; CURSOR: pointer; PADDING-TOP: 7px
}
.btn3_b {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 92px; DISPLAY: block; BACKGROUND: url(/decorators/custom/images/y_06.gif) no-repeat right 50%; FLOAT: left; HEIGHT: 30px; COLOR: #3b658a; FONT-SIZE: 12px
}
.btn3_a {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 92px; DISPLAY: block; BACKGROUND: url(/decorators/custom/images/y_07.gif); FLOAT: left; HEIGHT: 30px; COLOR: #3b658a; FONT-SIZE: 12px; CURSOR: pointer
}
.btn {
	BORDER-BOTTOM: #7b9ebd 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: black; FONT-SIZE: 12px; BORDER-TOP: #7b9ebd 1px solid; CURSOR: hand; BORDER-RIGHT: #7b9ebd 1px solid; PADDING-TOP: 2px
}
.byte {
	BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
