<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings>
		<add key="ConnectionString" value="server=LEON-NOTEBOOK\SQL08R2;database=ecsms;uid=sa;pwd=sa;"/>
		<!--<add key="ConnectionString" value="server=WENGYULI-PC\SQLEXPRESS;database=ecsms;uid=sa;pwd=sa;"/> -->
		<!--发邮件设置-->
		<add key="smtp" value="smtp.gmail.com"/>
		<add key="mailuser" value="wengyuli@gmail.com"/>
		<add key="mailpwd" value="xiejianjun"/>
		<add key="port" value="25"/>
		<!--<add key="smtp" value="smtp.126.com"/>
		<add key="mailuser" value="wengyuli"/>
		<add key="mailpwd" value="1985221"/>
		<add key="port" value="25"/>-->
		<!--重置密码-->
		<add key="repwd" value="111111"/>
	</appSettings>
	<connectionStrings>
	</connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<httpRuntime maxRequestLength="2091151"/>
		<!--上传文件大小限制 2G-->
		<!--<sessionState 
      mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" 
      sqlConnectionString="datasource=127.0.0.1; Trusted_Connection=yes" 
      cookieless="false" timeout="60"/>--><!--session会话设置-->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages styleSheetTheme="default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
	</system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LinkWSSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SmsServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Service1Soap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mb345.com/WS/linkWS.asmx" binding="basicHttpBinding"
          bindingConfiguration="LinkWSSoap" contract="LingKaiService.LinkWSSoap"
          name="LinkWSSoap" />
      <endpoint address="http://211.155.31.104/service.asmx" binding="basicHttpBinding"
          bindingConfiguration="SmsServiceSoap" contract="LingTongService.SmsServiceSoap"
          name="SmsServiceSoap" />
      <endpoint address="http://wt.umob.cn/submitdata/Service.asmx"
          binding="basicHttpBinding" bindingConfiguration="Service1Soap"
          contract="WanZhongService.Service1Soap" name="Service1Soap" />
    </client>
  </system.serviceModel>
  
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>
