body {padding:0;margin:0px;background:#fff;text-align:center;color:#1C4360;font-size:12px;font-family:宋体;}
h1, h2, h3, h4, h5, h6, form, div, p, i, img, ul, li, ol, table, tr, td, fieldset, label, legend {margin:0px;padding:0px;}
a img{border:none;}
a:link{text-decoration:none;color:#3B658A;font-family:宋体;}
a:visited{text-decoration:none;font-family:宋体;color:#3B658A;}
a:active,
a:hover{text-decoration:underline;color:#CC3300;font-family:宋体;}

.filter1{ FILTER: dropshadow(color=#ffffff,offx=1,offy=1,positive=1) }
.filter2{ FILTER: dropshadow(color=#000000,offx=1,offy=1,positive=1) }


/* 颜色属性 [定义规则，小写c加颜色名称] */
.cred,a.cred:link,a.cred:visited{ color:Red; }
.cblue,a.cblue:link,a.cblue:visited{color:#0149AF;}
.cwhite,a.cwhite:link,a.cwhite:visited{color:#FFF;}
.cblack,a.cblack:link,a.cblack:visited{color:#000;}
.cyellow,a.cyellow:link,a.cyellow:visited{ color:#ff0; }
.cgery,a.cgery:link,a.cgery:visited{ color:#ccc; }
.cgreen,a.cgreen:link,a.cgreen:visited{ color:#2F7E2B; }

/* 字体属性 [定义规则，小写f加属性名称] */
.fb {font-weight: bold;}
.fn {font-weight:normal;}
.fi {font-style: italic;}

/* 字型*/
.fhei{font-family:黑体;}

/* 字体大小*/
.f12{ font-size:12px;}
.n12{
	font-size:12px;
	line-height: 150%;
	color: #666666;
}
.f14{ font-size:14px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}

/* 内补丁*/
.pad2{padding:2px;}
.pad3{padding:3px;}
.pad4{padding:4px;}
.pad5{padding:5px;}
.pad6{padding:6px;}
.pad10{padding:10px;}
.padlef5{padding-left:5px;}
.padlef10{padding-left:10px;}


/*外补丁*/
.mar0{margin:0px;}
.mar5{margin:5px;}
.marrig3{margin-right:3px;}
.marrig5{margin:4px 5px;}
.martop5{margin-top:5px;}
.martb5{margin:5px 0px;}


/*行高行间距*/
.blank4{height:4px; font-size:1px; clear:both;overflow:hidden;}
.blank8{height:8px; font-size:1px; clear:both;overflow:hidden;}
.lh19{line-height:19px;}
.lh21{line-height:21px;}
.lh24{line-height:24px;}
.lh26{line-height:26px;}
.lh30{line-height:30px;}
.lh40{line-height:40px;}
.height25{height:25px;}

.border{border:1px solid #6593BC;}
.bg{background:#E9F0F9;}


/* 其他属性 */
.left{ float:left;}
.right{ float: right;}
.clear{ clear: both; font-size:1px; width:1px; visibility: hidden; }
.hidden {display: none;}
.unline ,.unline a{text-decoration: none;}
.line ,.line a{text-decoration:underline;}
.noborder{border:none;	}
.textcen{text-align:center;}
.textleft{text-align:left;}
.textrig{text-align:right;}
.hidden {display: none;}
.bgfff{background:#fff;}



/*内容*/
.borderK1{border:1px solid #6593BC;background:#C6E4FF;}
.borderK2{border:1px solid #628DB3;background:#E9F0F9;}
.borderLeft{border:1px solid #6593BC;background:#D9EDFF;width:168px;background:url(/decorators/custom/images/z_05.gif) repeat-y;}
.borderRig{border:1px solid #6593BC;background:#FFF;}





.table1{border:1px solid #99B8D5;background:url(/decorators/custom/images/z_19.gif) repeat-x #fff;}


/*表格样式定义*/
		table.tbl01{
			text-align:center;
		}
		table.tbl01 caption{
			text-align:left;
			font-weight:bold;
		}
		table.tbl01 th,
		table.tbl01 td{
			font-weight:normal;
			font-size:12px;
			line-height:21px;
			padding:0 5px;
		}
		/*表格颜色定义*/
		table.gray{
			background:#6593BC;
		}
		table.gray2{
			background:#6593BC;
		}
		table.gray caption{/*表格名称颜色*/
			color:#000;
		}
		table.gray th{/*表头颜色*/
			background:#5C80A7;
			color:#fff;
			text-align:center;
		}
		
		table.gray2 th{/*表头2颜色*/
			background:#BACAE6;
			color:#1C435F;
			font-size:14px;
			text-align:center;
		}
		table.gray td{/*单元格颜色*/
			background:#fff;
			color:#1C4360;
		}
		table.gray2 td{/*单元格颜色*/
			background:#fff;
			color:#1C4360;
			font-size:14px;
		}
		table.gray tr.alt td{/*斑马线颜色*/
			background:#F4F4F4;
		}
		table.gray2 tr.alt td{/*斑马线颜色*/
			background:#F4F4F4;
		}
		table.tbl01 td.ticketname{
			background:#E9F0F9;
			text-align:center;
			color:#1C4360;
		}
		table.tbl03 td{background:#E9F0F9;font-size:14px;padding:5px;}





.table2{background:url(/decorators/custom/images/y_05.gif);padding-top:10px;height:26px;line-height:26px;}


table.tab02 td{
			font-weight:normal;
			font-size:12px;
			line-height:21px;
			text-align:left;
			padding:0 5px;
		}
 table.tab02 td.ticketname{
			background:#C7DBEC;
			text-align:left;
			color:#1C4360;
			line-height:21px;
			font-size:14p
		}
 



/*层*/
.btn_a{background: url(/decorators/custom/images/z_13.gif);width:125px;text-align:center;color:#1C4360;cursor:pointer;font-size:14px;line-height:26px;height:26px;display:block;float:left;}
.btn_b{background: url(/decorators/custom/images/z_14.gif);width:125px;text-align:center;color:#1C4360;font-size:12px;line-height:26px;height:26px;display:block;cursor:pointer;float:left;}



.btn1_a{background: url(/decorators/custom/images/z_08.gif);text-align:center;color:#fff;cursor:pointer;font-size:12px;line-height:26px;height:26px;display:block;float:left;}
.btn1_b{background: url(/decorators/custom/images/z_09.gif);text-align:center;color:#1C4360;font-size:12px;line-height:26px;height:26px;display:block;cursor:pointer;float:left;}


.btn2_b{width:94px;text-align:center;font-size:14px;height:34px;line-height:34px;background:url(/decorators/custom/images/z_02.gif) right no-repeat;display:block;float:left;}
.btn2_a{width:94px;text-align:center;background:url(/decorators/custom/images/z_01.gif);font-size:14px;color:#1C4360;padding-top:7px;line-height:27px;height:27px;display:block;cursor:pointer;float:left;}

.btn3_b{width:92px;text-align:center;font-size:12px;height:30px;line-height:30px;background:url(/decorators/custom/images/y_06.gif) right no-repeat;display:block;float:left;color:#3B658A;}
.btn3_a{width:92px;text-align:center;background:url(/decorators/custom/images/y_07.gif);font-size:12px;color:#3B658A;line-height:30px;height:30px;display:block;cursor:pointer;float:left;}

.btn { 

BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid 

} 
.byte{
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;

}
